body {
  font-family: 'Acme', sans-serif;
  margin: 0;
  background-color: #003040;
}

main {
  background: #008040;
  width: 80%;
  padding: 10px 50px;
  margin: 12px auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  align-items: center;
  display: flex;
  flex-flow: column;
}

 h3 {
  margin: 5px;
  font-family: 'Acme', sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

#menu-bar {
  background-color: #00b080;
  color: #fff;
  padding: 10px 50px;
  font-family: 'Acme', sans-serif;
  margin-bottom: 5%;
}

#menu-bar h1 {
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul {
  float: right;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
  letter-spacing: 3px;
}

#menu-bar li {
  float: right;
  margin-left: 50px;
}

#menu-bar a {
  color: #fff;
}

.input-word, .input-word input, .input-word h3 {
  width: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #003040;
  border: 0;
  font-size: 25px;
  font-weight: bold;
}

.input-word h3 {
  text-shadow: 1px 1px 1px white;
  font-size: 30px;
}

.content {
  padding: 10px;
}

.content ul {
  width: 80%;
  padding: 0;
  list-style-type: none;
  margin-right: 25px;
  max-height: 400px;
}

.content li {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #e2e2e2;
  color: #F5F5F5;
  width: 100%;
}

.content li:hover {
  background: #008f48;
}

.content li h3 {
  font-weight: normal;
  font-size: 22px;
}
