<!DOCTYPE html>
<html lang="en" ng-app="ZoltanOregApp" ng-controller="mainController">
  <head>
    <title><Z/O></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zoltan Oreg">
    <meta name="keywords" content="Zoltan Oreg, IT, software engineer, web developer, frontend developer">
    <meta name="description" content="Zoltan Oreg, IT, software engineer, web developer, frontend developer">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="assets/css/stylesheet.css" rel="stylesheet">
    <link rel="icon" type="image/gif" href="assets/imgs/zo.png">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92234308-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body id="home">
    <div class="link-icon-containter">
      <a href="https://hu.linkedin.com/in/zoltan-oreg-700767125" target="_blank"><img src="assets/imgs/linkedin-6-48.png"></a>
      <a href="https://github.com/oregzoltan" target="_blank"><img src="assets/imgs/github-8-48.png"></a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="name-effect navbar-brand js-scroll-trigger" href="#home">Zoltan Oreg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a id="cv" class="nav-link js-scroll-trigger" target="_blank" href="assets/cv/Zoltan_Oreg_CV.pdf">CV</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <video playsinline autoplay muted loop>
        <source src="assets/imgs/Matrix - 5581.mp4" type="video/mp4">
      </video>
      <div class="container header-content">
        <div class="row">
        <img class="fadeInLeft profile-img col-12" src="assets/imgs/zo.png">
          <h1 class="fadeInRight col-12">Hi, I'm Zoltan Oreg Frontend Developer</h1>
        </div>
      </div>
    </header>

    <section id="skills">
      <div class="container">
        <div class="row">
          <div class="content col-lg-8 mx-auto">
            <h2>Skills</h2>
            <div class="skills-imgs-container">
              <img src="assets/icons/if_code-programming-javascript-software-develop-command-language_652581.svg">
              <img src="assets/icons/7423887_react_react native_icon.svg">
              <img src="assets/icons/if_social_style_3_css3_341095.svg">
              <img src="assets/icons/if_html5_252093.svg">
              <img src="assets/icons/4373284_angular_logo_logos_icon.svg">
              <img src="assets/icons/9074220_typescript_icon.svg">
              <img src="assets/icons/if_AngularJS_1012789.svg">
              <img src="assets/icons/8666417_npm_icon.svg">
              <img src="assets/icons/9040434_filetype_scss_icon.svg">
              <img src="assets/icons/9118335_vscode_fill_icon.svg">
              <img src="assets/icons/7564187_figma_logo_brand_icon.svg">
              <img src="assets/icons/4375088_logo_sourcetree_icon.svg">
              <img src="assets/icons/4373216_jira_logo_logos_icon.svg">
              <img src="assets/icons/4375081_logo_slack_icon.svg">
              <img src="assets/icons/if_bootstrap_icon_291791.svg">
              <img src="assets/icons/if_git-square_1608905.svg">
              <img src="assets/icons/gulp-plain.svg">
              <img src="assets/icons/if_google_firebase_1175544.svg">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="experience">
      <div class="container">
        <div class="row">
          <div class="content col-lg-8 mx-auto">
            <h2>Work experience</h2>
            <h5>Black Swan Data / Beyond</h5>
            <h5>Oct 2016 - March 2024</h5>
            <p>Frontend development for the aviation and sport industries, working on both existing and new systems using React and Angular for the sport sector</p>
            <h4>Projects</h4>
            <p>FRONTEND DEVELOPER (2022 - 2024)</p>
            <p>Hawk-Eye is a global leader in the live sports arena, pioneering change across Broadcast Production, Officiating and Performance through cutting-edge technology.</p>
            <p>RESPONSIBILITIES:</p>
            <ul>
              <li>Working multiple squads to develop different data visualisation systems for clients in various sports</li>
              <li>Writing tests and documentations</li>
              <li>Engaging with the UX team and product owners to refine pixel-perfect designs and requirements</li>
            </ul>
            <p>TECHNOLOGIES: REACT, ANGULAR, TYPESCRIPT, TAILWINDCSS, MATERIALUI, CHARTJS, CYPRESS, STORYBOOK, FIGMA</p>
            <hr>
            <p>FRONTEND DEVELOPER (2020 – 2021)</p>
            <p>GateGroup - one of the world’s largest independent provider of airline catering and logistics. They are leading in supplying products, services and solutions related to an airline passenger’s onboard experience.</p>
            <p>RESPONSIBILITIES:</p>
            <ul>
              <li>Developing inflight retail system for various clients</li>
              <li>Responding to bugs and problems with the systems</li>
              <li>Developing UI components according to designs and wireframes</li>
              <li>Writing tests to very UI components according to the requirements</li>
              <li>Engage with key internal stakeholders in refinements, retro sessions etc.</li>
            </ul>
            <p>TECHNOLOGIES: REACT, TYPESCRIPT, CSS3, STORYBOOK, FIGMA</p>
            <hr>
            <p>FRONTEND DEVELOPER (2017 – 2020)</p>
            <p>Panasonic Avionics Corporation - the world’s leading supplier of in-flight entertainment and communication systems. The company’s best-in-class solutions deliver the ultimate travel experience with a rich variety of entertainment choices to its clients.</p>
            <p>RESPONSIBILITIES:</p>
            <ul>
              <li>Developing inflight entertainment systems</li>
              <li>Responding to bugs</li>
              <li>Prepare the appropriate design documents, wireframes and other documentations</li>
              <li>Maintain existing portals</li>
            </ul>
            <p>TECHNOLOGIES: ANGULARJS, SCSS, BOOTSTRAP</p>
            <hr>
          </div>
        </div>
      </div>
    </section>

    <section id="education">
      <div class="container">
        <div class="row">
          <div class="row content col-lg-8 mx-auto">
            <h2 class="col-md-12 mx-auto">Education</h2>
            <div class="col-md-5 mx-auto content-education">
              <h5>May 2016 – Sept 2016</h5>
              <p>Green Fox Academy</p>
              <p>Junior software developer</p>
            </div>
            <div class="col-md-5 mx-auto content-education">
              <h5>Dec 2015 – Jan 2016</h5>
              <p>www.coursera.org</p>
              <p>Programming for Everybody (Getting Started with Python), Python Data Structures, Using Python to Access Web Data, Using Databases with Python</p>
            </div>
            <div class="col-md-5 mx-auto content-education">
              <h5>1998-2005</h5>
              <p>Gabor Denes College</p>
              <p>Computer Engineer</p>
              <p>Diploma</p>
            </div>
            <div class="col-md-5 mx-auto content-education">
              <h5>1994-1998</h5>
              <p>Szechenyi Istvan Economy and Foreign Trade Technical College</p>
              <p>Computer programmer</p>
              <p>Graduation</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="content col-lg-8 mx-auto">
            <h2>Portfolio</h2>
            <div class="portfolio-link-container">
              
              <a class="portfolio-link" href="https://oregzoltan.github.io/zsofiaporzsoltphotography" target="_blank">
                <img title="https://oregzoltan.github.io/zsofiaporzsoltphotography" class="portfolio-image" src="assets/imgs/zspp.jpg">
              </a>
              <a class="portfolio-github-link" href="https://github.com/oregzoltan/zsofiaporzsoltphotography" target="_blank"><img src="assets/imgs/github-8-48.png"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="content col-lg-8 mx-auto">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Contact Form</h2>
              </div>
              <div class="panel-body">
                <form ng-submit="submit()" name="contactform" class="form-horizontal" role="form">
                  <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                    <label for="inputName" class="col-lg-10 mx-auto control-label">Name</label>
                    <div class="col-lg-10 mx-auto">
                      <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                    <label for="inputEmail" class="col-lg-10 mx-auto control-label">Email</label>
                    <div class="col-lg-10 mx-auto">
                      <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                    <label for="inputSubject" class="col-lg-10 mx-auto control-label">Subject</label>
                    <div class="col-lg-10 mx-auto">
                      <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                    <label for="inputMessage" class="col-lg-10 mx-auto control-label">Message</label>
                    <div class="col-lg-10 mx-auto">
                      <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10 mx-auto">
                      <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>
                <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center">Copyright &copy; Zoltan Oreg</p>
      </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrolling-nav.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src="app/app.js"></script>
    <script src="vendor/modernizr-custom.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_fLEu3MTqyetckHxWBOJ2H");
       })();
    </script>
  </body>

</html>
