body {
  background-color: #FF0000;
}

.container {
  margin: 10px;
  background: black;
}

.oz {
  position: fixed;
  right: 23px;
  top: 16px;
  border: 1px solid #FF0000;
  width: 150px;
  height: 25px;
}

.row {
  width: 880px;
  justify-content: center;
  display: flex;
  margin: auto;
}

.left {
  align-items: stretch;
  width: 70px;
  height: 550px;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 550px;
}

.img_main {
  margin: 0;
  width: auto;
  height: 440px;
}

.img_big {
  height: 440px;
  width: 658px;
  border: 1px solid #FF0000;
}

.img_small {
  border: 1px solid #FF0000;
  margin-top: 2px;
  width: 159px;
  height: 107px;
}

.img_row {
  display: flex;
  justify-content: space-between;
  width: 660px;
  height: 110px;
}

.right {
  width: 70px;
  height: 550px;
}

.arrow_button {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: rgba(900, 0, 0, 1);
  background-size: 100% 100%;
  margin-top: 195px;
}

.big_left, .small_left {
  margin-left: 20px;
  background-image: url(leftarrow.png);
}

.small_left {
  margin-left: 40px;
}

.big_right, .small_right {
  background-image: url(rightarrow.png);
}

.small_right, .small_left {
  width: 30px;
  height: 30px;
}

h1, h2 {
  color: white;
  text-align: center;
  font-family: "Abril Fatface";
  font-size: 16px;
}
