main {
  padding-top: 140px;
}

.nav-brand {
  color: #E04006;
  font-family: 'Acme', sans-serif;
}

.dropdown-menu li {
  display: flex;
  justify-content:space-between;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 20%;
  }
}
