<!DOCTYPE html>
<html lang="en" ng-app="blackSwanApp">
  <head>
    <title>Black Swan App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="dictionary.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.7/angular-local-storage.min.js"></script>
    <script type="text/ng-template" id="views/home.html">
      <form class="input-word" ng-submit="checkInput()">
        <div class="col-xs-12">
          <input type="text" placeholder="Type a word" ng-model="newWord"/>
          <input type="submit" value="OK"/>
          <h3>{{displayComment}}</h3>
        </div>
      </form>
    </script>
    <script type="text/ng-template" id="views/highscores.html">
      <div class="col-md-8 col-sm-12 col-xs-12 content">
          <ul>
            <li><h3>Words</h3><h3>Highscores</h3></li>
            <li ng-repeat="score in scores"><h3>{{score.word}}</h3><h3>{{score.highscore}}</h3></li>
          </ul>
      </div>
    </script>
    <script src="app/app.js"></script>
    <script src="app/app-controller.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div id="menu-bar" class="col-xs-12">
        <h1>BLACK SWAN APP</h1>
        <ul>
          <li><a href="#/highscores">Highscore List</a></li>
          <li><a href="#/home">Home</a></li>
        </ul>
        </div>
    </header>
    <main ng-view></main>
  </body>
</html>
